<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Currency Exchange App</title>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&amp;subset=latin-ext" />
	<script type="text/javascript" src="/static/angular.min.js" th:src="@{/angular.min.js}"></script>
	<script type="text/javascript" src="/static/app/app.module.js" th:src="@{/app.module.js}"></script>
	<script type="text/javascript" src="/static/app/currency.controller.js" th:src="@{/currency.controller.js}"></script>


</head>

<body ng-app = "app" ng-controller="currencyController">

<header>
	<div id="logo">
	<a href="#">Currency Exchange Calculator</a>
	</div>
	<div id="login">
    <p th:text="'Signed in as ' + ${username}">Signed in as Anonymus</p>
    </div>
</header>

<section>

<div>
<p style="color: black">Hello it's me!</p>
</div>

	<form>
		<input type="text" placeholder="in" onfocus="this.placeholder=''" onblur="this.placeholder='currency'" />
		<input type="text" placeholder="out" onfocus="this.placeholder=''" onblur="this.placeholder='convert to'" />
		<input type="submit" value="submit"/>
	</form>

</section>


<footer>
	<div>
    <p style="color: black" th:text="'Page was rendered ' + ${#dates.format(datetime, 'dd/MM/YYYY HH:mm')}">Page was rendered today.</p>
	</div>
</footer>

</body>


</html>