<!DOCTYPE html>
<html ng-app= "app" lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Currency Exchange App</title>

	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&amp;subset=latin-ext" />

	<script src="/static/app/app.module.js" th:src="@{/app/app.module.js}"></script>
	<script src="/static/app/currency.controller.js" th:src="@{/app/currency.controller.js}"></script>



</head>

<body ng-controller="CurrencyController as vm">

<header>
	<div id="logo">
	<a href="#">Currency Exchange Calculator</a>
	</div>
	<div id="login">
    <p th:text="'Signed in as ' + ${username}">Signed in as Anonymus</p>
    </div>
</header>

<section>

<div>
<p style="color: black">Hello it's me!</p>
</div>

	<form>
		<input type="text" placeholder="in" onfocus="this.placeholder=''" onblur="this.placeholder='currency'" />
		<input type="text" placeholder="out" onfocus="this.placeholder=''" onblur="this.placeholder='convert to'" />
		<input type="text" placeholder="date" onfocus="this.placeholder=''" onblur="this.placeholder='yyyy-mm-dd'" />
		<input type="submit" value="check"/>
		<br><br>

		<button ng-click="vm.getLatest()">get Latest</button>
		<br>
		<p style="color: black">{{vm.currencies.rates}}</p>
		<br><br>

	</form>

</section>


<footer>
	<div>
    <p style="color: black" th:text="'Page was rendered ' + ${#dates.format(datetime, 'dd/MM/YYYY HH:mm')}">Page was rendered today.</p>
	</div>
</footer>

</body>


</html>