<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Currency Exchange App</title>

    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}" />
	<link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Lato&amp;subset=latin-ext" rel="stylesheet">
</head>

<body>

<header>
	<div id="logo">
	<a href="#">Currency Exchange Calculator</a>
	</div>
	<div id="login">
    <p th:text="'Signed in as ' + ${username}">Signed in as Anonymus</p>
    </div>
</header>

<section>

<div>
<p>Hello it's me!</p>
</div>

	<input type="inCurrency" placeholder="currency" onfocus="this.placeholder=''" onblur="this.placeholder='currency'" >		
	<input type="outCurrency" placeholder="convert to" onfocus="this.placeholder=''" onblur="this.placeholder='convert to'" >
	<input type="submit" value="Convert">

</section>


<footer>
	<div>
    <p th:text="'Page was rendered ' + ${#dates.format(datetime, 'dd/MM/YYYY HH:mm')}">Page was rendered today.</p>
	</div>
</footer>

</body>


</html>